@import "normalize", "variables", "fonts";

body {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: $white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .menu__item {
      list-style-type: none;
      .menu__link {
        text-decoration: none;
        padding: 10px 20px 10px 20px;
        color: white;
        background-color: $black;
        border-radius: 50px;
        margin-left: 25px;
        &:hover {
          background-color: $green;
        }
        &--add {
          font-weight: 600;
          background-color: $blue;
        }
      }
    }
  }
}

.main {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .main__container {
    width: 25%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
    .main__title {
      text-align: center;
    }
    .main__card {
      width: 80%;
      margin: auto;
      margin-bottom: 10px;
      background-color: $white;
      border-radius: 12.5px;
      padding: 10px;
      .card__title {
        font-size: 16px;
      }
      .card__description {
        font-size: 14px;
      }
      .card__date {
        font-size: 12px;
      }
      .card__flag {
        width: 25px;
      }
    }
  }
}
